terratowns_endpoint="https://terratowns.cloud/api"
biryani = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/biryani"
  content_version = 5 
}
hamilton = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/hamilton"
  content_version = 4 
}
